<ion-content>
  <form [formGroup]='form' class='py-[30px] px-[22px] bg-white'>
    <div class='flex justify-between items-center mb-[37px]'>
      <h1 class='text-[20px] leading-[24px] text-primary font-bold'>Создайте объявление</h1>
      <div (click)='cancel()' class='bg-primary flex justify-center items-center rounded-full p-[15px]'>
        <span class='icon icon-close bg-white w-[14px] h-[14px]'></span>
      </div>
    </div>

    <div class='mb-[18px]'>
      <app-input
        formControlName='name'
        icon='icon-title'
        placeholder='Название'></app-input>
    </div>

    <div class='mb-[18px]'>
      <app-custom-select
        icon='icon-category'
        [items]='categories'
        label='Категория'
        formControlName='category_id'
      ></app-custom-select>
    </div>

    <div class='mb-[18px] border-b-[1px] border-gray-50 pb-[12px]'>
      <div class='flex items-center'>
        <span class='icon icon-instagram w-[18px] h-[18px]'></span>
        <span class='flex-1 ml-[15px] text-[16px] leading-[17px] text-gray-600'>Фото</span>
      </div>

      <div class='flex flex-wrap mx-[-4px] pt-[14px] mb-[18px]'>
        <input #inputElement type='file' class='hidden' (change)='changeInputFile($event)'>
        <div class='p-[4px]' (click)='inputElement.click()'><img src='./assets/img/img.png' alt=''></div>
      </div>
    </div>

    <div class='mb-[18px]'>
      <div class='relative border-b-[1px] border-gray-50 pb-[16px]'>
        <ion-textarea formControlName='description' class='custom-textarea' placeholder='Описание'></ion-textarea>

        <span class='icon icon-description absolute top-0 left-0 z-10 w-[20px] h-[20px]'></span>
      </div>
      <div class='text-[12px] leading-[17px] text-gray-600 mt-[3px]'>{{ form.get('description')?.value?.length }}/8000</div>
    </div>

    <div class='mb-[18px]'>
      <app-custom-select
        formControlName='city_id'
        label='Местонахождение'
        icon='icon-location'
        [items]='cities'
      ></app-custom-select>
    </div>

    <div class='relative w-full'>
      <app-input formControlName='amount'
                 type='number'
                 icon='icon-wallet'
                 placeholder='Стоимость'>
      </app-input>
    </div>


    <button [disabled]='loading || form.invalid' class='btn btn-primary mt-[26px] flex items-center justify-center' (click)='onSubmit()'>
      Опубликовать  <ion-spinner color="light" class='ml-[8px] h-[20px]' *ngIf='loading'></ion-spinner>
    </button>
  </form>
</ion-content>
