<ion-content>
  <form class='py-[30px] px-[22px] bg-white'>
    <h1 class='text-[20px] leading-[24px] text-primary font-bold mb-[37px]'>Создайте объявление</h1>

    <div class='mb-[18px]'>
      <app-input icon='icon-title' placeholder='Название'></app-input>
    </div>

    <div class='mb-[18px] border-b-[1px] border-gray-50 pb-[16px] flex items-center' (click)='openSelect()'>
      <span class='icon icon-category w-[18px] h-[18px]'></span>
      <span class='flex-1 ml-[15px] text-[16px] leading-[17px] text-gray-600'>Категория</span>
      <span class='icon icon-arrow-right w-[7px] h-[13px] bg-purple-900'></span>
    </div>

    <div class='mb-[18px] border-b-[1px] border-gray-50 pb-[12px]'>
      <div class='flex items-center'>
        <span class='icon icon-instagram w-[18px] h-[18px]'></span>
        <span class='flex-1 ml-[15px] text-[16px] leading-[17px] text-gray-600'>Фото</span>
      </div>

      <div class='flex flex-wrap mx-[-4px] pt-[14px]'>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>

        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
        <div class='p-[4px]'><img src='./assets/img/img.png' alt=''></div>
      </div>
    </div>

    <div class='mb-[18px] border-b-[1px] border-gray-50 pb-[16px] flex items-center' (click)='openSelect()'>
      <span class='icon icon-location w-[18px] h-[18px]'></span>
      <span class='flex-1 ml-[15px] text-[16px] leading-[17px] text-gray-600'>Местонахождение</span>
      <span class='icon icon-arrow-right w-[7px] h-[13px] bg-purple-900'></span>
    </div>


    <button class='btn btn-primary'>Опубликовать</button>
  </form>
</ion-content>
