.message-list {
  //height: calc(100vh - 125px);
}

:host {
  ion-content {
    padding-bottom: 25px;
  }
}

.my-message {
  justify-content: flex-end;

  .bg-primary-100 {
    background: #c7e4ac;
  }
}
