<div class='bg-white'>
  <div class='p-[22px] flex items-center justify-between' *ngIf='offerService.currentChat$ | async as user'>
      <span routerDirection='back' routerLink='/dashboard/chat'
            class='icon icon-arrow-right rotate-180 w-[5px] h-[13px] bg-gray-600 mr-[25px]'></span>
    <img src='./assets/img/avatar.svg' alt=''>
    <div class='flex-1 ml-[12px] text-[20px] leading-[24px] text-primary'>{{user.name}}</div>
    <span class='icon icon-burger bg-black'></span>
  </div>
</div>


<ion-content>
  <div class='p-[22px] pb-[50px] message-list' *ngIf='messages.length'>
    <div class='flex w-full mb-[16px]' *ngFor='let message of messages'
         [class.my-message]="message?.author_id === currentUser.id">
      <div class="py-[8px] pl-[16px] pr-[20px] rounded-[11px] bg-primary-100">
        <div class='text-[14px] leading-[20px] font-medium text-black-300 break-all'>{{ message?.message }}</div>
        <div class='mt-[3px] text-[12px] leading-[16px] text-blue-900 flex justify-end w-full'>{{ message?.created_at | date:'HH:mm' }}</div>
        </div>
      </div>

    <ng-container *ngIf='loading'>
      <ion-spinner class='text-center w-full'></ion-spinner>
    </ng-container>

    <ng-container *ngIf='messages.length === 0 && !loading'>
      <div class='text-center text-gray-200'>Нет сообщений</div>
    </ng-container>


    </div>
</ion-content>

<div class='bg-primary-50 h-[54] fixed bottom-0 w-full'>
  <div class='px-[22px] flex items-center min-w-full'>
        <textarea [(ngModel)]='message'
                  class='bg-transparent h-[54px] resize-none outline-none border-none text-gray-strong mr-[12px] w-full py-[15px]'
                  placeholder='Напишите сообщение'>
        </textarea>
    <span class='icon icon-send bg-black' (click)='sendMessage()'></span>
  </div>
</div>

