<div>
  <ion-router-outlet></ion-router-outlet>
</div>

<ion-tabs>
  <ion-tab-bar slot='bottom'>
    <ion-tab-button tab='home'>
      <span class='icon icon-home'></span>
      <ion-label class='text-[10px] leading-[12px] text-gray'>Главная</ion-label>
    </ion-tab-button>
    <ion-tab-button tab='favourite'>
      <span class='icon icon-favourite'></span>
      <ion-label class='text-[10px] leading-[12px] text-gray'>Избранное</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)='createModal()'>
      <span class='icon icon-create'></span>
      <ion-label class='text-[10px] leading-[12px] text-gray'>Создать</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink='/chat'>
      <span class='icon icon-message-icon'></span>
      <ion-label class='text-[10px] leading-[12px] text-gray'>Сообщения</ion-label>
    </ion-tab-button>
    <ion-tab-button tab='profile'>
      <span class='icon icon-user'></span>
      <ion-label class='text-[10px] leading-[12px] text-gray'>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-menu contentId='main-content'>
  <ion-content>
    <div class='mt-[20px]'>
      <ion-menu-toggle class='flex items-center px-[25px] py-[10px]'
                       *ngFor='let category of categories'
                       (click)='selectCategory(category.id)'>
        <span class='mr-[17px] icon icon-catalog w-[22px] h-[22px] bg-black-200'></span>
        <p class='mr-[17px] text-[14px] leading-[17px] text-black-100'>{{ category.name }}</p>
        <span class='icon icon-arrow-right w-[13px] h-[13px] bg-black-100'></span>
      </ion-menu-toggle>
      <ion-menu-toggle class='flex items-center px-[25px] py-[10px]' (click)='logout()'>
        <span class='mr-[17px] icon icon-catalog w-[22px] h-[22px] bg-black-200'></span>
        <p class='mr-[17px] text-[14px] leading-[17px] text-black-100'>Выйти</p>
        <span class='icon icon-arrow-right w-[13px] h-[13px] bg-black-100'></span>
      </ion-menu-toggle>
    </div>
  </ion-content>
</ion-menu>
