<div class='pt-[90px] px-[35px] flex flex-col justify-between h-full pb-[42px] bg-white'>
  <h1 class='pl-[5px] text-[36px] leading-[43px] text-primary font-bold'>
    Вход
  </h1>

  <div *ngIf='errorMessage' class='text-red-300'>{{ errorMessage }}</div>

  <form class='mt-[87px]' [formGroup]='form'>
    <div>
      <app-input
        formControlName='login'
        placeholder='Номер телефона или Email*'
        icon='icon-email'
      ></app-input>
    </div>

    <div class='mt-[32px]'>
      <app-input formControlName='password' placeholder='Пароль*' icon='icon-lock' type='password'></app-input>
    </div>

    <p class='text-[12px] leading-[17px] text-primary text-right mt-[15px]'>
      Забыли пароль ?
    </p>

    <button class='btn btn-primary mt-[48px] flex items-center justify-center'
            type='button' (click)='onSubmit()'
            [disabled]='form.invalid'>
      Вход
      <ion-spinner class='ml-[8px] h-[20px]' *ngIf='loading'></ion-spinner>
    </button>
  </form>

  <p class='text-[12px] leading-[17px] text-primary text-center'>
    У вас нет аккаунта? &nbsp;
    <span class='font-bold' routerLink='/auth/register'
    >Зарегистрироваться</span
    >
  </p>
</div>
