<ion-content>
  <div class='p-[22px] bg-white' *ngIf='currentUser' [ngStyle]="{'padding-top': offerService.isPlatform.is('ios') ? '40px' : '20px'}">
    <ng-container>
      <input #file type='file' hidden (change)='handleFileInput($event)'>
      <img class='w-[80px] h-[80px] rounded-full mt-[10px]'
           (click)="file.click()"
           [src]="'https://plastic-market-app.ru/img/' + currentUser.photo"
           (error)='errorAvatar($event)'
           alt=''>

    </ng-container>
    <div class='mt-[20px] mb-[10px] text-[30px] leading-[30px] font-medium'>{{ currentUser.name  }}</div>
    <div class='mb-[10px] text-[14px] leading-[14px] text-gray-800'>{{ currentUser.email }}</div>
    <div class='text-[14px] leading-[14px] text-gray-800 mb-[36px]'>Редактирование профиля</div>

    <form [formGroup]='form'>
      <div class='mb-[20px]'>
        <app-input
          [errors]="form.controls['name']?.errors"
          icon='icon-message'
          formControlName='name'
          placeholder='Введите имя'>
        </app-input>

        <span *ngIf="form.controls['name']?.errors?.['required']" class='error-message'>
           Поля имя обязательный
        </span>
      </div>

      <div class='mb-[20px]'>
        <app-input
          [errors]="form.controls['email']?.errors"
          formControlName='email'
          icon='icon-email'
          placeholder='Введите email'>
        </app-input>

        <span *ngIf="form.controls['email']?.errors?.['required']" class='error-message'>
          Поля email обязательный
        </span>

        <span *ngIf="form.controls['email']?.errors?.['email']" class='error-message'>
          Неправильные email
        </span>
      </div>

      <div class='mb-[20px]'>
        <app-input
          [errors]="form.controls['phone']?.errors"
          [mask]='inputMask'
          formControlName='phone'
          icon='icon-phone'
          placeholder='Введите телефон'>
        </app-input>

        <span *ngIf="form.controls['phone']?.errors?.['required']" class='error-message'>
         Поля телефон обязательный
        </span>
      </div>

      <div class='mb-[20px]'>
        <app-input
          [errors]="form.controls['password']?.errors"
          formControlName='password'
          type='password'
          icon='icon-lock'
          placeholder='Введите новый пароль'>
        </app-input>

        <span *ngIf="form.controls['password']?.touched && form.controls['password']?.errors?.['minlength']"
              class='error-message'>
            Поля пароль минимум 6 символов
        </span>
      </div>

      <div class='mb-[20px]'>
        <textarea
          formControlName='description'
          placeholder='Введите краткое описание'
          class='w-full border-b-[1px] border-b-gray-50 outline-none'>
        </textarea>
      </div>

      <button
        [disabled]='loading'
        class='btn btn-primary'
        (click)='onSubmit()'>
        Сохранить
      </button>
    </form>
  </div>
</ion-content>
