<div class="welcome bg-white">
  <div class='flex justify-center w-full'>
    <img class="mt-[90px] max-w-[300px] text-center" src='../../../../../assets/icons/img.svg' alt="" />
  </div>

  <div>
    <h1 class="welcome__title">Plastic market</h1>
    <h2 class="welcome__subtitle">Удобный поиск и продажа вторичного сырья</h2>
  </div>

  <div>
    <button class="btn btn-primary" routerLink="/auth/login">Вход</button>
    <button class="btn btn-default" routerLink="/auth/register">
      Регистрация
    </button>
  </div>
</div>
