<ion-content>
  <div class='relative'>
    <swiper [autoplay]='true' [keyboard]='true' [pagination]='true' [zoom]='true' [loop]='true'>
      <ng-template swiperSlide>
        <img class='w-full' src='./assets/02.png' alt=''>
      </ng-template>
      <ng-template swiperSlide>
        <img class='w-full' src='./assets/02.png' alt=''>
      </ng-template>
      <ng-template swiperSlide>
        <img class='w-full' src='./assets/02.png' alt=''>
      </ng-template>
    </swiper>

    <div class='z-10 absolute top-[20px] left-[23px] right-[23px] flex justify-between items-center'>
      <ion-nav-link router-direction="back" [component]="component"
                    class='rotate-180 flex items-center justify-center bg-primary w-[44px] h-[44px] rounded-full hover:opacity-[.8]'>
        <span class='icon icon-arrow-right bg-white w-[7px] h-[15px]'></span>
      </ion-nav-link>
      <span class='icon icon-heart bg-primary'></span>
    </div>

    <div class='px-[22px] pt-[25px] pb-[15px]'>
      <div class='flex justify-between'>
        <h1 class='text-[18px] leading-[22px] font-bold text-gray-300'>Пленка полиэтиленовая вторичная</h1>
        <div class='flex flex-col items-end'>
          <p class='text-[12px] leading-[14px] text-gray-200 line-through'>$22</p>
          <p class='text-primary text-[18px] leading-[21px] font-bold'>$16</p>
        </div>
      </div>

      <div class='mt-[4px] text-[14px] leading-[17px] font-medium text-gray'>Алматы</div>
    </div>
  </div>
</ion-content>
