<div class='pt-[90px] px-[35px] flex flex-col justify-between h-full pb-[42px] bg-white'>
  <h1 class='pl-[5px] text-[24px] leading-[30px] text-primary font-bold'>
    Восстановление пароля
  </h1>

  <form [formGroup]='form' class='mt-[87px]'>
      <app-input
        [errors]="form.controls['email']?.touched && form.controls['email']?.errors"
        formControlName='email'
        placeholder='Email*'
        icon='icon-email'
      ></app-input>

    <span *ngIf="form.controls['email']['touched']">
        <span *ngIf="form.controls['email']?.errors?.['required']" class='error-message'>
          Поля email обязательный
        </span>

      <span *ngIf="form.controls['email']?.errors?.['email']" class='error-message'>
          Неправильные email
        </span>
      </span>


    <button [disabled]='form.invalid' (click)='onSubmit()' class='btn btn-primary mt-[16px]' type='button'>Восстановить</button>

  </form>

  <p class='text-[12px] leading-[17px] text-primary text-center'>
    <span class='font-bold' routerLink='/auth/login'>Вход</span><br>
    <span class='font-bold' routerLink='/auth/register'
    >Зарегистрироваться</span
    >
  </p>
</div>
