<ion-content>
  <div class='p-[22px] bg-white '>
    <div class='flex justify-between items-center'>
      <div (click)='cancel()' class='bg-primary flex justify-center items-center rounded-full p-[15px]'>
        <span class='icon icon-close bg-white w-[14px] h-[14px]'></span>
      </div>

      <div class='text-[14px] leading-[17px] text-gray-200' (click)='clearFilter()'>Очистить</div>
    </div>

    <div class='mt-[28px] text-[18px] leading-[23px] text-gray-300'>
      Фильтры
    </div>

    <form [formGroup]='form' class='mt-[38px]'>
      <div class='mb-[22px]'>
        <app-custom-select
          formControlName='sort_type_id'
          label='Сортировка'
          [items]="offerManuals.sort_types">

        </app-custom-select>
      </div>

      <div class='mb-[22px]'>


        <app-custom-select
          label='Категория'
          formControlName='category_id'
          [items]="categories">
        </app-custom-select>
      </div>

      <div class='mb-[22px]'>
        <app-custom-select
          label='Подкатегории'
          formControlName='subcategory_id'
          [items]="subCategories">
        </app-custom-select>
      </div>

      <div class='mb-[22px]'>
        <app-custom-select
          label='Район'
          formControlName='region_id'
          [items]="regions">
        </app-custom-select>
      </div>

      <div class='mb-[22px]'>
        <app-custom-select
          label='Город'
          formControlName='city_id'
          [items]="cities">
        </app-custom-select>
      </div>

      <div class='mb-[22px]'>
        <app-custom-select
          label='Тип'
          formControlName='type_id'
          [items]="offerManuals.types">
        </app-custom-select>
      </div>

      <div class='mb-[22px]'>
        <app-custom-select
          label='Объем'
          formControlName='size_type_id'
          [items]="offerManuals.size_types">
        </app-custom-select>
      </div>

      <div class='mb-[22px]'>
        <app-custom-select
          label='Материал'
          formControlName='meterial_type_id'
          [items]="offerManuals.meterial_types">
        </app-custom-select>
      </div>

      <div class='mb-[22px] border-b-[1px] border-[#EBEBED] pb-[7px]'>
        <div class='text-[11px] leading-[13px] text-gray-400 flex items-center mb-[6px]'>Проверенные <span
          class='ml-[6px] icon icon-circle w-[12px] h-[12px] bg-purple-900'></span></div>
        <div class='flex justify-between'>
          <span class='text-[16px] leading-[17px] text-gray-500'>Проверенные документы</span>
          <ion-checkbox mode='md'></ion-checkbox>
        </div>
      </div>


      <div class='mb-[22px] flex items-end'>
        <div>
          <div class='text-[11px] leading-[13px] text-gray-400 flex items-center mb-[6px]'>Цена</div>
          <app-input placeholder='от' type='number' formControlName='amount_min'></app-input>
        </div>

        <div class='items-end ml-[30px]'>
          <app-input placeholder='до' type='number' formControlName='amount_max'></app-input>
        </div>
      </div>

      <button class='btn btn-primary mt-[4px]' (click)='onSubmit()'>
        Показать результаты
      </button>

    </form>
  </div>
</ion-content>

