ion-checkbox {
  --background-checked: #8BCD50;
  --border-color-checked: #8BCD50;
}


::ng-deep .input {
  @apply pb-[7px] border-[#EBEBED];
}

ion-content {
  &.ios {
    .form-container {
      padding-top: env(safe-area-inset-top);
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
}
